<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css\style2.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-form">
            <h2>Login</h2>
            <form action="#">
                <input type="email" placeholder="Email or Username" required>
                <input type="password" placeholder="Password" required>
                <div class="options">
                    <label><input type="checkbox"> Remember me</label>
                    <a href="#">Forgot password?</a>
                </div>
                <button type="submit">Login</button>
            </form>
            <p>Don’t have an account? <a href="#">Sign up</a></p>
        </div>
        <div class="info-section">
            <div class="content">
                <h3>Check Your Project Progress</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor lorem, accumsan et arcu quis.</p>
                <div class="graphic">

                </div>
            </div>
        </div>
    </div>
</body>
</html>